<mat-toolbar class="tb2">
  <span style="margin-left: 3px; font-size: 20px;">Painel de Tarefas</span>
</mat-toolbar>


<body>
  <!-- Menu -->
  <div class="mn1">
    <div class="btn1">
      <mat-list>
        <button mat-button color="primary" (click)="openTable()">Tabela TODOs</button>
        <mat-divider></mat-divider>
        <button mat-button color="primary" (click)="openEdit()">Editar TODOs</button>
        <mat-divider></mat-divider>
        <button mat-button color="primary">Testar BDA</button>
      </mat-list>
    </div>
  </div>
  <!-- Menu -->

  <!-- Content -->
  <div class="bd1">




    <!-- Introdução -->
    <div id="intro" class="sbd1">
      <h1>Bem vindo ao painel de tarefas</h1>
      <h5>Para começar, no lado esquerdo superior, há três botões, Tabela TODOs
        responsável por mostrar todos os itens na tabela, o segundo botão Editar
        TODOs, responsável por editar os itens da tabela, o ultimo botão Testar BDA,
        é responsavel por verificar se o banco de dados está ligado.
      </h5>
    </div>
    <!-- Introdução -->


    <!-- Tabela TODOs -->
    <div *ngIf="showTable" style="text-align: -webkit-center;">
      <app-table></app-table>
    </div>
    <!-- Tabela TODOs -->

    <!-- Editar TODOs -->
    <div *ngIf="showEdit" style="text-align: -webkit-center;">
      <app-edit></app-edit>
    </div>
    <!-- Editar TODOs -->

    <!-- Testar BDA -->
    <!-- Testar BDA -->
  </div>
  <!-- Content -->
</body>
