.ed3 {
  margin-top: 30px;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

mat-form-field {
  width: 500px;
}

form {
  display: flex;
    align-items: center;
    flex-direction: column;
}

button {
  width: 200px;
}
